@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    /*font-optical-sizing: auto;*/
    font-style: normal;
    color:#AE360E;    
}
h1 {padding:0em 0 .5em 0; font-weight:900;}
h2 {padding:0em 0 .5em 0; font-weight:700; }
h3 {padding:0em 0 .5em 0; font-weight:700;}
h4 {padding:0em 0 .5em 0; font-weight:500;}

p, li {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25em;
    line-height: 1.5em;
}
a {
    color:rgba(30, 51, 91, 1)!important;
}

.burntBold {
    font-weight: bold;
    color:#AE360E;
}
.rad50 {
    border-radius: 50%;
}
.poppins {font-family: "Poppins", sans-serif;}

main {
    margin:150px 0 0 0;
    padding: 0 0 0 0;
}

/*plBlue {background-color:#2C386E;}*/
.plBlue {background-color:rgba(30, 51, 91, 1);}
.plBlue-text {color:rgba(30, 51, 91, 1);}
.plLtBlue-text {color:rgba(30, 51, 91, .8);}
/*plBurnt {background-color:#AE360E;}*/
.plBurnt {background-color:rgba(174, 54, 14, 1);}
.plBurnt-text {color:rgba(174, 54, 14, 1);}
.plLtBurnt {background-color:rgba(174, 54, 14, .25);}
/*plBiege {background-color:#948F81;}*/
.plBiege {background-color:rgba(148, 143, 129, 1);}
/*plGreen {background-color:#6c754a;}*/
.plGreen {background-color:rgba(108, 117, 74, 1);}
.btn.plGreen {color:rgba(255, 255, 255, 1);}
.plLtGreen {background-color:rgba(108, 117, 74, .3);
    color:rgba(30, 51, 91, 1); }
.plGrey {background-color:rgba(0, 0, 0, .1);}

nav {
    padding: 0;
    margin: 0;
    height: 150px;
    background-color:rgba(255, 255, 255, .9);
    border-bottom:#AE360E 10px solid;
}
.navbar-brand {min-width:40%;}
.navbar-brand img {max-height: 130px;}

.navbar-nav .nav-link {
    padding-left: 1em;
    font-weight: 500;
}
.navbar-nav .nav-link.active {
    color:#AE360E!important;
    font-weight: 700;
}
.nav-pills .nav-link {
    color: #ffffff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #AE360E!important;
}
.navbar-collapse.collapse.show .navbar-nav {
    background-color:#ffffff;
}
.navbar-toggler {
    right: 15px;
    position: absolute;
    top: 40px;
}
.plGreen-btn {
    color:#ffffff;
    border-radius: 5px;
    background: rgba(108, 117, 74, 1);
    -webkit-box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.1);
}
.plGreen-btn:hover {
    color:#333333;
    border: #333333 1px solid;
    transition: all 0.3s ease 0s;
    background:rgba(108, 117, 74, .5);
}
#leverage {
    height: 700px;
    background-size: cover; 
    background: #ffffff url("../images/leverage-background.jpg") no-repeat 50% 0%;
}
.container-fluid#leverage {
    margin: 0 auto;
    padding: 0 0 0 0;
}
#leverage .container {
    margin: 0 auto;
    padding: 0;  
}
#leverage .col {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;  
}
#leverage .alphaCover {
    width: 100%;
    height: 700px;
    background-color: rgba(255, 255, 255, .8)
    
}
#twoCoreSolutions .left, #twoCoreSolutions .right {
    background-color: rgba(255, 255, 255, .8);
}
#leverage h1 {
    font-size: 2.5em!important;
}

#twoCoreSolutions {
    background-size: 100% 100%; 
    background: #ffffff url("../images/twoCore-background.png") no-repeat 50% 100%;
}
#twoCoreSolutions.left, #twoCoreSolutions.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#twoCoreSolutions h1 {
    font-size: 2em;
}
#twoCoreSolutions h2 {
    margin: 0px auto 5px auto;
    padding: 0;
}
#twoCoreSolutions .col-12 p {
    font-size: 1.25em;
    line-height: 1.25em;
}

#cos-neu .accordion-item button {
    width: 100%;
    padding:1em;
    text-align: center!important;
    margin: 3px auto;
    border: #696969 1px solid;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.1);
}
#twentyFiveYears .col-4 h3 {
    font-size: calc(.9rem + .6vw);        
} 
.specialties-served h2 {
    padding: 1em 0 0 0;
}  
.specialties-served p {
    color: white;
    text-shadow: 0px 0px 7px rgba(150,150,150,0.75);
}
.specialties-served a {
    text-shadow: none;
}
.supp h2 {
    padding: 1em 0 0 0;    
}
.indHead h1 {
    padding: 1.5em 0;
    color:rgba(30, 51, 91, 1);
}

.bottom-image img {
    vertical-align: bottom;
}

#ToS li, #PP li,#ToS p, #PP p {
 font-size: 1em;;
}

table, td, th {
    border: 1px solid black;
    margin: 15px auto;
}

footer {
    color: #ffffff;
    background-color:#AE360E;
}
footer i {
    font-size:3em; color:#ffffff;

}
footer li a {
    font-size: 14px!important;
    color:#ffffff!important;

}

/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (min-width: 575.98px) { 
    .navbar-brand {width:50%;}
    main {
        padding: 0 0 0 0;
    }
    #twoCoreSolutions h1 {
        font-size: 2.5em;
    }
    #twoCoreSolutions h2 {
        margin: 0px auto 25px auto;
        padding: 0 0 1em 0;
    }
    .navbar-toggler {
        right: 21px;

    }
    #leverage h1 {
        font-size: 2.6em!important;
    }
    .indHead h1 {
        color:rgba(30, 51, 91, 1);
    }

    #cos-neu .accordion-item button {
        width: 100%;
    }
    #twentyFiveYears .col-4 h3 {
        font-size: calc(1rem + .6vw);        
    } 
}

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) {
    .navbar-brand {width:47.5%;}
    main {
        padding: 0;
    }
    #leverage h1 {
        font-size: 2.7em!important;
    }
    #twoCoreSolutions .left, #twoCoreSolutions .right {
        background-color: rgba(255, 255, 255, 0);
    }
    #twoCoreSolutions h1 {
        font-size: 3em;
    }
    #twoCoreSolutions h2 {
        margin: 0px auto 145px auto;
        padding: 0 0 1em 0;
    }
    #twoCoreSolutions .col-12 p {
        font-size: 1.75em;
        line-height: 1.5em;
    }
    .navbar-brand {width:39%;}
    .navbar-brand img {max-height: 148px;}
    .navbar-toggler {
        right: 50px;

    }
    #leverage h1 {
        font-size: 4em!important;
    }
    #veterinary-header .bottom-image img {
        vertical-align: bottom;
        margin-top: 80px;
    }
    .indHead h1 {
        color:rgba(30, 51, 91, 1);
    }
    #cos-neu .accordion-item button {
        width: 80%;
    }
    #twentyFiveYears .col-4 h3 {
        font-size: calc(1.1rem + .6vw);        
    } 
    /*.container-fluid#leverage {
        margin: 0 auto;
        padding: inherit;
    }
    #leverage .container {
        margin: 0 auto;
        padding: inherit;
    }*/
}

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (min-width: 991.98px) {
    .navbar-brand {width:45%;}
    .navbar-toggler {
        right: 150px;
        top: 54px;

    }
    #leverage h1 {
        font-size: 2.8em!important;
    }
    #twoCoreSolutions h1 {
        font-size: 3.5em;
    }
    #twoCoreSolutions h2 {
        margin: 0px auto 215px auto;
        padding: 0 0 1em 0;
    }
    .indHead h1 {
        color:rgba(30, 51, 91, 1);
    }
    #cos-neu .accordion-item button {
        width: 70%;
    }
    #twentyFiveYears .col-4 h3 {
        font-size: calc(1.2rem + .6vw);        
    } 
}

/*`xl` applies to large devices (desktops, less than 1200px)*/
@media (min-width: 1199.98px) {
    .navbar-brand {width:42.5%;}
    #leverage h1 {
        font-size: 2.9em!important;
    }
    #twoCoreSolutions h1 {
        font-size: 4em;
    }
    #twoCoreSolutions h2 {
        margin: 0px auto 235px auto;
        padding: 0 0 1em 0;
    }
    .indHead h1 {
        color:rgba(30, 51, 91, 1);
    }
    #cos-neu .accordion-item button {
        width: 60%;
    }
    #twentyFiveYears .col-4 h3 {
        font-size: calc(1.3rem + .6vw);        
    } 
   
}

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (min-width: 1399.98px) {
    .navbar-brand {width:40%;}
    #leverage h1 {
        font-size: 3em!important;
    }
    #twoCoreSolutions h1 {
        font-size: 4em;
    }
    #twoCoreSolutions h2 {
        margin: 0px auto 140px auto;
        padding: 0 0 180px 0;
    }
    .indHead h1 {
        color:rgba(30, 51, 91, 1);
    }
    #cos-neu .accordion-item button {
        width: 50%;
    }
    #twentyFiveYears .col-4 h3 {
        font-size: calc(1.4rem + .6vw);        
    } 
   
}

